.color1 { color: #da2625; }
.color2 { color: #f4caa9; }
.color3 { color: #933816; }
.color4 { color: #51b38e; }
.color5 { color: #ddd5c6; }

#titulo_login {
    color: black;
}

#boton-login {
    background: white;
}

#boton-login:active:focus {
    background-color: #53bfcb;
}

#boton-login:hover {
    background-color: #8ee4e8;
}

#card {
    background-color: #f4caa9;
}

.body-color {
    background-color: #ddd5c6;
}

#contenedor-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Opcional: ajusta la altura según tus necesidades */
}

.center-form {
    max-width: 600px; /* Opcional: ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
    padding: 20px;
}

#contenedor {
    display: flex;
    max-width: 80%; /* Opcional: ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
    padding: 20px;
}

.imagen-responsiva {
  max-width: 100%;
  height: auto;
}
