@main("Mascotas"){

<body class="body-color">
    <div class="container" id="contenedor">
        <div class="card m-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        Todas las mascotas ingresadas
                    </div>
                    <div class="col-sm-6" style="text-align: right;">
                        <a class="btn btn-primary" href="/mascotas/crear">Ingresar mascota</a>
                    </div>
                </div>

                <!-- de 12 columnas asignamos el uso de 4 -->

            </div>
            <div class="card-body table-responsive p-0" display >
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr class="th">
                        <th class="th">#</th>
                        <th class="th">Fecha ingreso</th>
                        <th class="th">Estado</th>
                        <th class="th">Cliente</th>
                        <th class="th">Tipo animal</th>
                        <th class="th">Raza</th>
                        <th class="th">Nombre</th>
                        <th class="th">Edad</th>
                        <th class="th">Chip</th>
                        <th class="th">Descripción</th>
                        <th class="th">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="td">{{item.id}}</td>
                        <td class="td">{{item.ingreso}}</td>
                        <td class="{{item.td_class}} td">{{item.estado}}</td>
                        <td class="td">{{item.cli_rut}}</td>
                        <td class="td">{{item.tipo}}</td>
                        <td class="td">{{item.raza}}</td>
                        <td class="td">{{item.a_nombre}}</td>
                        <td class="td">{{item.edad}}</td>
                        <td class="td">{{item.chip}}</td>
                        <td class="td">{{item.descripcion}}</td>
                        <td class="td">
                            <button  class="btn btn-success show" id_animal="{{item.id}}"><i class="fa-solid fa-eye"></i> Ver</button>
                            <div class="btn-group" role="group">
                                <a href="/mascotas/editar/{{item.id}}" class="btn btn-success action" action="¿Usted está seguro de editar?"><i class="fa-solid fa-pen-to-square"></i>Editar</a>
                                <a href="/mascotas/eliminar/{{item.id}}" class="btn btn-danger action" action="¿Usted está seguro de eliminar?"><i class="fa-solid fa-trash"></i>Eliminar</a>
                            </div>
                        </td>

                    </tr>
                    <tr class="th">
                        <td colspan="10">No existen datos ingresados.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src='@routes.Assets.versioned("javascripts/crud/mainmascotas.js")' type="text/javascript"></script>
</body>
}